#!/usr/bin/env bash

# Navigation
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."
alias -- -="cd -"

# Navigation
alias h="cd ~"

# Symantec stop/start (https://gist.github.com/steve-jansen/61a189b6ab961a517f68)
alias symstop="sep stop"
alias symstart="sep start"

# Abbreviations
alias clr="clear"

# Zsh
alias hist='history | grep'

# Git
alias g="git"
alias gc="git clone"
alias gs="git status"
alias ga="git add"
alias gc="git commit -m"
alias gpull="git pull"
alias gpush="git push"
alias grs="git reset --soft HEAD~"

# Terraform
alias tf="terraform"
alias tff="terraform fmt -recursive"
alias tfi="terraform init"
alias tfv="terraform validate"
alias tfp="terraform plan"
alias tfa="terraform apply"

# kubectl
alias k="kubectl"

# IntelliJ
alias idea="open -na 'IntelliJ IDEA.app' --args '$@'"

# LS flavour
colorflag="-G"
export LSCOLORS='BxBxhxDxfxhxhxhxhxcxcx'

# List all files colorized in long format
alias l="ls -lF ${colorflag}"

# List all files colorized in long format, excluding . and ..
alias la="ls -lAF ${colorflag}"

# List only directories
alias lsd="ls -lF ${colorflag} | grep --color=never '^d'"

# Always use color output for `ls`
alias ls="command ls ${colorflag}"

# Get week number
alias week='date +%V'

# IP addresses
alias ip="dig +short myip.opendns.com @resolver1.opendns.com"
alias localip="ipconfig getifaddr en0"
alias ips="ifconfig -a | grep -o 'inet6\? \(addr:\)\?\s\?\(\(\([0-9]\+\.\)\{3\}[0-9]\+\)\|[a-fA-F0-9:]\+\)' | awk '{ sub(/inet6? (addr:)? ?/, \"\"); print }'"

# STFU
alias stfu="osascript -e 'set volume output muted true'"

# Lock the screen (when going AFK)
alias afk="/System/Library/CoreServices/Menu\ Extras/User.menu/Contents/Resources/CGSession -suspend"

# Print each PATH entry on a separate line
alias path='echo -e ${PATH//:/\\n}'
